<form method="post" action="{{ path('delivery_delete', {'id': delivery.id,'order':order.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ delivery.id) }}">
    <button class="nav-link btn btn-primary">Usuń</button>
</form>
