{% extends 'base.html.twig' %}

{% block title %}Dodaj do kalendarza{% endblock %}

{% block body %}
    <h1>Dodaj</h1>
    
    <form>
        <input tupe="text" name="type"/>
        
    </form>


{% endblock %}
