<form method="post" action="{{ path('kontrahent_delete', {'id': kontrahent.id}) }}" onsubmit="return confirm('Jeste pewien?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ kontrahent.id) }}">
    <button class="btn btn-danger">Usuń</button>
</form>
