{% extends 'base.html.twig' %}

{% block title %}Edit Kontrahent{% endblock %}

{% block body %}
    <h1>Edit Kontrahent</h1>

    {{ include('kontrahent/_form.html.twig', {'button_label': 'Update'}) }}

    

    {{ include('kontrahent/_delete_form.html.twig') }}
{% endblock %}
{% block footer %}
    <li class="nav-item"> <a href="{{ path('kontrahent_index') }}"  class="nav-link btn btn-primary">Do listy</a></li>
{% endblock %}
