{% extends 'base.html.twig' %}

{% block title %}Nowy kontrahent{% endblock %}

{% block body %}
    <h1>Utwórz nowego kontrahenta</h1>

    {{ include('kontrahent/_form.html.twig') }}

{% endblock %}
{% block footer %}
    <li class="nav-item"> <a href="{{ path('kontrahent_index') }}"  class="nav-link btn btn-primary">Do listy</a></li>
{% endblock %}