<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug"
      throwExceptions="true"
      internalLogFile="\.Nlog\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>

    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="${aspnet-appbasepath}\.Nlog\nlog-alllog-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="zapytania" fileName="${aspnet-appbasepath}\.Nlog\nlog-zapytania-${shortdate}.log"
          layout="${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}| IP: ${aspnet-request-ip} ${newline}" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Debug" writeTo="allfile" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="zapytania" />

  </rules>
</nlog>