<form method="post" action="{{ path('task_delete', {'id': task.id}) }}" onsubmit="return confirm('Jesteś pewien że chcesz usunąć to zadanie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <li class="nav-item"><button class="nav-link btn btn-danger">Usuń</button></li>
</form>
