{% extends 'base.html.twig' %}

{% block title %}Nowe zadanie{% endblock %}

{% block body %}
    <h1>Nowe zadanie</h1>

    {{ include('task/_form.html.twig') }}

    
{% endblock %}
{% block footer %}
    <li class="nav-item"> <a class="nav-link btn btn-secondary" href="{{ path('task_index') }}">Do listy zadań</a></li>
{% endblock %}