{% extends 'base.html.twig' %}

{% block title %}Import{% endblock %}

{% block body %}
    <h1>Import pliku</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('IMPERTUJ Z PLIKU') }}</button>
{{ form_end(form) }}
{% endblock %}
