{% extends 'base.html.twig' %}

{% block title %}Pulpit{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Witaj, {{ app.user.name }}!</h1>
        <p class="lead">Tutaj będą wszystkie informację o zmieniającym się świecie kołodomu.pl.</p>
        <hr class="my-4">
        <p>Aby być na bieżąco musisz zaglądaj tutaj regularnie.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Czytaj więcej</a>
        </p>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}

