<form method="post" action="{{ path('order_delete', {'id': order.id}) }}" onsubmit="return confirm('Jesteś pewien?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
    <button class="btn btn-danger nav-link">Usuń</button>
</form>
